
<div class="c-new-stuff{{#if settings.newStuffContextClass}}--{{settings.newStuffContextClass}}{{else}}--default{{/if}}{{#if settings.newStuffClasses}} {{settings.newStuffClasses}}{{/if}}"
     data-css="c-new-stuff"
     data-js-module="new-stuff"{{#if settings.newStuffJsOptions}}
     data-js-options='{{stringify settings.newStuffJsOptions}}'{{/if}}>
     new-stuff
     
</div>
